@font-face {
    font-family: pfjt;
    src: url(../fonts/pfjt.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: pfjt;
}

img {
    width: 100%;
}

#hsyd {
    width: 5%;
    top: 4.65%;
    right: 30%;
    position: absolute;
    overflow: hidden;
    -webkit-animation: hsydmove 5s infinite;
    animation: hsydmove 5s infinite;
}

@-webkit-keyframes hsydmove {
    50% {
        right: 10%;
    }
}

@keyframes hsydmove {
    50% {
        right: 10%;
    }
}

#lsyd {
    width: 5%;
    top: 1.8%;
    right: 42.5%;
    position: absolute;
    -webkit-animation: lsydmove 5s infinite;
    animation: lsydmove 5s infinite;
}

@-webkit-keyframes lsydmove {
    50% {
        right: 33.5%;
    }
}

@keyframes lsydmove {
    50% {
        right: 33.5%;
    }
}

#id4 {
    padding: 3% 0 3% 0;
}

#id41 {
    padding: 2.5% 0 2.5% 10%;
}

#id421 {
    margin: 15% auto 0 auto;
    text-align: center;
    padding-bottom: 5%;
}

#id421 img {
    width: 10%;
}

#id422 {
    width: 80%;
    margin: 0 auto;
    text-indent: 2em;
    font-family: pfjt;
    font-weight: bold;
}